html{
    cursor: url(../사진/cc.png) 50 3, pointer;
    
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color : #806e5c;
}
table {
    flex-direction: column;
    text-align: center;
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
}
th {
    background-color: #534e4a;
    height: 40px;
    color: white;
}
td {
    height: 50px;
}
.aa > a {
    padding: 15px;
    color: white;
    transition: 2s;
    width: 50px;
    margin-top: 50px;
    font-size: 100%;
}
.aa > a:hover {
    background-color: #959175;
}
h1 {
    color: white;
    font-size: 400%;
    font-family: 'Shadows Into Light', cursive;
    Letter-spacing: 20px;
    width: 600px;
}
.aa {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
header {
    background-image: url("../사진/prison.jpg");
    height: 250px;
    margin-bottom: 70px;
}
ul {
    List-style-type: none;
    display: flex;
}
.active,
.left_page,
.right_page {
    background-color: #7a6c5d;
}
.left_page {
    margin-right: 5px;
}
.right_page {
    margin-left: 5px;
}
.nomal {
    background-color: #3c1518;
}
.titlee {
    width: 60%;
}
.list {
    font-size: 20px;
    color: black;
}
a{
    text-decoration: none;
}